/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Cor de fundo geral */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9B59B6; /* Cor lilás para o menu */
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #9B59B6; /* Cor lilás para o menu mobile */
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 768px) {
    .nav-links.active {
        display: flex;
    }
}

main {
    padding: 20px;
    text-align: center;
}

main h1 {
    color: #9B59B6; /* Cor lilás para o título principal */
}

main p {
    color: #333;
    font-size: 18px;
}
