* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Fonte para o corpo do texto */
    scroll-behavior: smooth; /* Scroll suave */
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #fff, #d7a3eb, #8096e4,  #dfbbed); /* Gradiente diagonal */
}

header {
    font-family: 'Pacifico', cursive;
    /* font-family: 'Dancing Script', cursive; fonte anterior manuscrita */
    position: fixed; 
    width: 100%;
    background-color: #9b59b6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    margin-left: 10px; /* Adiciona espaço à direita do texto da logo */
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
}
.imglogo{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

footer {
    position: fixed; 
    width: 100%;
    bottom: 0;
    background-color: #9b59b6;
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 15px; /* Ajuste a altura conforme necessário */
    font-family: 'Roboto', sans-serif, arial, helvetica;
    color: #fff; /* Cor do texto */
    font-size: 10px; /* Ajuste o tamanho da fonte conforme necessário */
}



.redes{
    /* 
    font-size: 30px;
    word-spacing: 3px;
    padding: 5px;
    justify-content: none;
    display: flex;
     */
}

.redes a{
    /* margin: 20px;
    font-size: 10px; */
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: #9b59b6; 
    margin-right: 20px; /* Ajuste o valor conforme necessário */
}

h1 {
    font-family: 'Pacifico', cursive; /* Fonte manuscrita */
    font-size: 36px; /* Ajuste o tamanho */
    color: #9b59b6; /* Cor do texto */
    text-align: left; /* Centraliza o texto */
}

h2 {
    font-family: 'Dancing Script', cursive; /* Fonte manuscrita */
    font-size: 25px; /* Ajuste o tamanho */
    color: #6a5acd; /* Cor do texto */
    text-align: left; /* Centraliza o texto */
}



/* Estilos para telas pequenas */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #9b59b6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        max-width: 300px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1;
    }

    .nav-links.nav-active {
        transform: translateX(0);
    }

    .burger {
        display: flex;
    }

    .nav-links li {
        margin: 20px 0;
    }
}

/* Seções */
section {
    /*buscar possibilidades do topo e o footer não sobrepor as seções para melhorar esse padding */  
    padding-top: 70px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin: 0;
    z-index: 1;
}
